/* Home styles */
.home {
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-container {
    width: 100%; 
    position: relative;
    
  }
  
  .homepage-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
   
  }
  .blurred-image {
    
    width: 100%;
    height: auto;
    filter: blur(20px); 
    transition: filter 0.3s ease-in-out;
  }
  