/* ProductCard.css */

/* Base styles for the product card */
.product-card {
  margin: 20px 0;
  width: 225px;
  height: 350px; /* Set a fixed height for the product card */
  /* border: 1px solid #ccc; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 3px, rgba(17, 17, 26, 0.1) 0px 2px 7px, rgba(17, 17, 26, 0.1) 0px 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden; /* Hide any overflow content */
  transition-duration: 0.5s;
}

.product-image-container {
  flex: 80%; /* The image container takes up the available space */
  position: relative; /* Position the image container */
  overflow: hidden; /* Hide any overflow content */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
}

.product-image {
  max-height:100%;
  max-width:100%;
  width: 75%;
  /* height: 75%; */
}

.product-details {
  flex: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  color: #023047;
}

.product-title {
  font-size: 1rem;
  margin: 0;
  font-weight: 100;
}

.product-price {
  font-size: 1.1rem;
  margin: 0;
  color: #219ebc;
}

.product-rating {
  color: #ffb703;
  font-size: 1.2rem;
}

/* Button styles */
.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.product-card:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

