.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh ;
  
}

.nav-section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.center-section{
  text-align: center;
  margin-top: 150px;
  flex: 1;
}

.footer{
  margin-top: auto;
}

@media (max-width: 768px) {
  .app {
    padding: 0 10px; 
  }

  .nav-section {
    justify-content: space-between;
    padding: 10px; 
  }

  .center-section {
    padding: 10px; 
  }

  .footer {
    padding: 10px; 
  }
}